h1 {
  text-align: center;
  color: #faf2d5;
  font-family: Playfair Display, serif;
  font-size: 70px;
  margin-bottom: 10px;
}
h2 {
  text-align: center;
  color: #083d56;
  font-family: Poppins, serif;
  border: 1px solid #083d56;
  padding: 5px 10px;
  max-width: 60%;
  margin: 0 auto;
  letter-spacing: 3px;
}
h3 {
  color: #0d5577;
  font-size: 24px;
  font-family: Poppins, serif;
  letter-spacing: 3px;
  margin-bottom: 0;
}
.photo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  max-width: 100%;
  padding: 30px 60px;
}
.img-fluid {
  max-width: 100%;
  border-radius: 8px;
}
.info {
  font-family: Poppins, serif;
  font-size: 16px;
  color: #cc347d;
}
a:hover {
  color: #68ddd1;
  font-weight: bold;
}
p {
  color: white;
  max-width: 70%;
  margin: 20px auto;
  font-weight: bolder;
  font-family: Poppins, serif;
  font-size: 16px;
  line-height: 30px;
}

button {
  margin: 20px auto;
  display: block;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
  font-weight: bolder;
  font-family: Poppins, serif;
  background-color: #083d56;
  border: 2px solid #083d56;
  box-shadow: 5px 5px 5px #68ddd1;
  letter-spacing: 2px;
  font-size: 16px;
  margin-bottom: 40px;
}
button:hover {
  background-color: #1ab5a5;
  cursor: pointer;
  transition: 200ms ease-in-out;
  border: #1ab5a5;
  color: #083d56;
}
div {
  color: #faf2d5;
  text-align: center;
  font-family: Poppins, serif;
  font-size: 12px;
}
hr {
  color: #083d56;
}
body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(11, 215, 181) 0%,
    rgb(15, 143, 240) 90%
  );
}
.acknowledgement {
  padding: 20px;
  color: #073b53;
  font-size: 14px;
}
